<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Add new music</title>
</head>
<body>
    <h1>Új zene hozzáadása</h1>
    <form method="post">
        <div>
          <label>
            Cím: <br>
            <input type="text" name="title">
          </label>
        </div>
        <div>
          <label>
            Szerző: <br>
            <input type="text" name="artist" >
          </label>
        </div>
        <div>
            <label>
              Zenehossz (mp): <br>
              <input type="number" name="length" >
            </label>
          </div>
        <div>
          <input type="submit" value="Felvétel">
        </div>
      </form>
      <p id="hibaUzenet"><%= messages %></p>
</body>
</html>